.nav-menu {
  padding: 20px;
  background-color: #4155fc;
}
.menu {
  color: white;
  margin-right: 14px;
  font-size: 22px;
  text-decoration: none;
}
.slide {
  width: 100%;
  height: 350px;
}
.section-img {
  display: flex;
  margin-bottom: 20px;
}
.img-section {
  width: 32%;
  margin-right: 20px;
}
.text-section {
  font-size: 24px;
  text-align: justify;
}
.footer {
  background-color: #cacaca;
  padding: 24px;
  color: #434343;
  font-size: 22px;
  font-weight: bold;
}
